/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Header*/
.header {
  z-index: 3;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.menu {
  text-decoration: none;
  list-style-type: none;
  height: 85px;
  padding: 30px 0 0 0;
}

.menu__item {
  display: inline-block;
  margin: 0 50px;
  font-size: 15px;
  color: #3c3c3c;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.menu__item:hover {
  color: #ada074;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1 {
  color: green;
}

h1:hover {
  color: red;
}

.logo {
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
}

.button {
  display: inline-block;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid;
  position: inherit;
  padding: 10px 0 0 0;
  text-decoration: none;
}

body {
  max-width: 100%;
  padding: 0 0 711px;
  font-family: Lato;
}

.title {
  display: block;
  height: 70px;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  margin: 0 auto;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.subtitle {
  margin: 30px auto;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #868585;
}

.block1 {
  background: url(../img/mac.jpg);
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 666px;
  margin: 0 auto;
}

.block1__logo {
  width: 100%;
  height: 123px;
  margin: 100px 0 50px 0;
}

.block1__title {
  margin: 0 0 150px 0;
  color: white;
}

.block1__title span {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: none;
}

.block1__title span:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  left: 50%;
  background-color: white;
  margin: 70px 0 0 -25px;
}

.block1__btn {
  color: white;
  margin: 15px 0 50px 0;
}

.block1__btn:hover {
  color: #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block1__btn:hover:after {
  display: block;
  content: "\142F";
  font-size: 30px;
  color: #3c3c3c;
  width: 16px;
  height: 10px;
  margin: 4px 0 0 80px;
}

.about {
  margin: 50px 0 0 0;
}

.about__title {
  display: block;
  margin: 0 auto 60px;
  height: 36px;
}

.about__title:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  left: 50%;
  background-color: black;
  margin: 70px 0 0 -25px;
}

.about__subtitle {
  width: 688px;
  height: 66px;
}

.about__row {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

.row__item {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

.row__item__icon {
  margin: 50px auto;
  width: 92px;
  height: 92px;
  border: 2px solid gray;
  border-radius: 50%;
  text-align: center;
  background: white;
}

.row__item__icon img {
  width: 52px;
  height: 52px;
  margin: 17px auto;
}

.row__item__title {
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.52px;
  text-align: center;
  color: #000;
}

.row__item__subtitle:nth-child(1) {
  width: 183px;
  height: 66px;
}

.row__item__subtitle:nth-child(2) {
  width: 260px;
  height: 66px;
}

.row__item__subtitle:nth-child(3) {
  width: 256px;
  height: 66px;
}

.portfolio {
  padding: 30px 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.portfolio__title {
  height: 36px;
}

.portfolio__title:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  left: 50%;
  background-color: black;
  margin: 70px 0 0 -25px;
}

.portfolio__menu {
  text-align: center;
  margin: 35px auto;
}

.portfolio__menu__item {
  display: inline-block;
  margin: 0 40px 0 30px;
  cursor: pointer;
}

.portfolio__menu__item:hover {
  color: #ada074;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__photos {
  text-align: center;
}

.portfolio__photos__item {
  display: inline-block;
  margin: 0px 10px 10px 10px;
  text-align: center;
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
}

.portfolio__photos__item img {
  margin: 5px auto;
  width: 528px;
  height: 355px;
}

.portfolio__button {
  margin: 50px auto;
  display: inline-block;
  color: #000;
}

.portfolio__button:hover {
  color: #3c3c3c;
  -webkit-box-shadow: 0 5px 5px #3c3c3c;
          box-shadow: 0 5px 5px #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.partners {
  text-align: center;
  height: 350px;
  background: url(https://kartinkin.com/uploads/posts/2020-07/1595768850_36-p-fioletovo-sinie-foni-40.jpg);
}

.partners__title {
  display: inline-block;
  margin: 60px 0 60px 0;
  font-size: 35px;
  color: white;
  font-weight: normal;
}

.partners__logos {
  height: 150px;
  width: 100%;
}

.partners__logos__item {
  display: inline-block;
  cursor: pointer;
  margin: 0px 30px 0px 30px;
}

.partners__logos__item img {
  height: 100px;
  width: 100px;
}
