/*Header*/
.header {
	z-index: 3;
	text-align: center;
	justify-content: center;
}
.menu {
	text-decoration: none;
	list-style-type: none;
	height: 85px;
	padding: 30px 0 0 0;
	&__item {
		position: sticky;
		top: 0;
		display: inline-block;
		margin: 0 50px;
		height: 12px;
		font-size: 15px;
		color: #3c3c3c;
		font-weight: bold;
		text-transform: uppercase;
		&:hover {
			color: #ada074;
			transition: 0.3s;
		}
	}
}
