@import "_nullstyle";

@import "_header";

h1 {
	color: green;
	&:hover {
		color: red;
	}
}
.logo {
	color: white;
	display: inline-block;
	font-size: 30px;
	font-weight: 900;
}

.button {
	display: block;
	width: 180px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid;
	position: inherit;
	padding: 10px 0 0 0;
}

body {
	max-width: 100%;
	padding: 0 0 711px;
	font-family: Lato;
}
.title {
	display: inline-block;
	width: 754px;
	height: 70px;
	font-size: 34px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.18;
	letter-spacing: 3px;
	text-align: center;
	margin: 0 0 150px 0;
	color: black;
	text-transform: uppercase;
}
.block1 {
	background: url(../img/mac.jpg);
	background-size: cover;
	text-align: center;
	justify-content: center;
	max-height: 666px;
	// height: 1282px-35px-58px;
	margin: 0 auto;
	&__logo {
		width: 195px;
		height: 123px;
		margin: 150px 270px 50px 270px;
	}

	&__title {
		color: white;

		span {
			font-size: 26px;
			font-weight: normal;
			letter-spacing: 2px;
			text-transform: none;
			&:after {
				content: "";
				position: absolute;
				width: 50px;
				height: 1px;
				left: 50%;
				background-color: white;
				margin: 70px 0 0 -25px;
			}
		}
	}

	&__btn {
		color: white;
		&:hover {
			color: #3c3c3c;
			transition: 0.3s;
		}
	}
	&::after {
		content: "\142F";
		font-size: 30px;
		color: white;
		width: 17px;
		height: 10px;
	}
}
